{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- with $img -}}
<figure class="image-caption">
    <img style="max-width: 100%; width: auto; height: auto;" 
         alt="{{ $.Text }}"
         src="{{ $img.RelPermalink }}"
         width="{{ $img.Width }}"
         height="{{ $img.Height }}">
    <figcaption>
        <small>
        {{ with $.Title | safeHTML }}
            {{ . }}
        {{ end }}
        </small>
    </figcaption>
</figure>
{{- end -}}
